<img src="https://bit.ly/2VnXWr2" alt="Ironhack Logo" width="100"/>

# Lab | Two Sample Hypothesis Testing

## Introduction

In this lab we'll learn more about hypothesis testing and expand to 2 sample hypothesis tests. 

## Deliverables

- `main.ipynb`.

## Submission

Upon completion, add your deliverables to git. Then commit git and push your branch to the remote.

## Resources

[T Test](https://researchbasics.education.uconn.edu/t-test/)

[Hypothesis Tests in SciPy](https://scipy-lectures.org/packages/statistics/index.html#hypothesis-testing-comparing-two-groups)

[The Chi-Squared Test](https://en.wikipedia.org/wiki/Chi-squared_test)

[The `chi2_contingency` function in SciPy](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html)

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [51]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [9]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [37]:
# Your code here:

pokemon_nolegendario = pokemon.groupby("Legendary").get_group(False)
pokemon_legendario = pokemon.groupby("Legendary").get_group(True)

pokemon_nolegendario.head()
pokemon_legendario.head()

print(f"Hay {pokemon_nolegendario.shape[0]} pokemons no legendarios y {pokemon_legendario.shape[0]} pokemon legendarios ({round(pokemon_legendario.shape[0]*100/pokemon_nolegendario.shape[0],2)}%)")

Hay 735 pokemons no legendarios y 65 pokemon legendarios (8.84%)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [43]:
# Your code here:

print(f"Pokemon no Legendary: Mean: {pokemon_nolegendario["Total"].mean()} Standar deviation: {pokemon_nolegendario["Total"].std()}")
print(f"Pokemon Legendary: Mean: {pokemon_legendario["Total"].mean()} Standar deviation: {pokemon_legendario["Total"].std()}")

Pokemon no Legendary: Mean: 417.21360544217686 Standar deviation: 106.76041745713022
Pokemon Legendary: Mean: 637.3846153846154 Standar deviation: 60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [57]:
# Your code here:
a = pokemon_nolegendario["Total"]
b = pokemon_legendario["Total"]

t_stat, p_value = ttest_ind(a, b, equal_var=False)

print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: -25.8335743895517
P-value: 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

printf(f"The {p_value} value is much smaller than alpha 5% or 1% so the null hypothesis is ruled out. There is a significant difference between legendary and non-legendary")

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [97]:
# Your code here:

pokemon.groupby("Type 1").agg("count")

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [151]:
# Your code here:

water_mean = pokemon.groupby("Type 1").get_group("Water")["Total"].mean()
water_std = pokemon.groupby("Type 1").get_group("Water")["Total"].std()

print(f"Water pokemon: mean: {water_mean} std: {water_std}")

print(f"Absolute difference: {round(pokemon.groupby("Type 1")["Total"].mean() - water_mean),2}\n")
print(f"Relative (porcentual) difference: {round((pokemon.groupby("Type 1")["Total"].mean() - water_mean)*100/water_mean,2)}")

Water pokemon: mean: 430.45535714285717 std: 113.18826606431458
Absolute difference: (Type 1
Bug         -52.0
Dark         15.0
Dragon      120.0
Electric     13.0
Fairy       -17.0
Fighting    -14.0
Fire         28.0
Flying       55.0
Ghost         9.0
Grass        -9.0
Ground        7.0
Ice           3.0
Normal      -29.0
Poison      -31.0
Psychic      45.0
Rock         23.0
Steel        57.0
Water         0.0
Name: Total, dtype: float64, 2)

Relative (porcentual) difference: Type 1
Bug        -11.97
Dark         3.55
Dragon      27.90
Electric     3.01
Fairy       -4.01
Fighting    -3.25
Fire         6.42
Flying      12.67
Ghost        2.12
Grass       -2.16
Ground       1.64
Ice          0.70
Normal      -6.68
Poison      -7.27
Psychic     10.57
Rock         5.41
Steel       13.30
Water        0.00
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [165]:
# Your code here:

water_pokemon = pokemon.groupby("Type 1").get_group("Water")["Total"]
nonwater_pokemon = pokemon[pokemon["Type 1"]!="Water"]["Total"]

t_stat, p_value = ttest_ind(water_pokemon, nonwater_pokemon, equal_var=True)

# Resultados
print("T-statistic:", t_stat)
print("P-value:", p_value)

"""
T-statistic: Representa la diferencia relativa entre las medias de los dos grupos.
P-value: Indica si la diferencia entre las medias es estadísticamente significativa.
- Si el p-valor es menor que 0.05, rechazas la hipótesis nula y concluyes que hay una diferencia significativa entre las medias.
- Si el p-valor es mayor o igual a 0.05, no tienes suficiente evidencia para rechazar la hipótesis nula.
"""

T-statistic: -0.4418547448849676
P-value: 0.6587140317488793

Write your conclusion below.

In [167]:
# Your conclusions here:
print(f"Since the p-value is high ({p_value*100}%) the null hypothesis cannot be rejected. The alternative hypothesis is that the scores of Water-type Pokémon are very different from those of other types.")

Since the p-value is high (65.87140317488793%) the null hypothesis cannot be rejected.The alternative hypothesis is that the scores of Water-type Pokémon are very different from those of other types.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: